body{
font-family:"Georgia","KaiTi",SimSun,"宋体",serif;

}
a{
text-decoration: none;color: #fff;
}
/* loading part */
.spinner {
  margin: 15px auto;
  width: 50px;
  height: 60px;
  text-align: center;
  font-size: 10px;
}
 
.spinner > div {
  background-color: #67CF22;
  height: 100%;
  width: 6px;
  display: inline-block;
   
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}
 
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
 
.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
 
.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
 
.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
 
@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}
 
@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
/* section part */
.section{
    color: #fff;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
}
/*must have if image background*/
 .slides{
	height: 100%;
	display:block;
 }
.clearfix:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both;
}
.clearfix {
    *zoom: 1;
}/*IE/7/6*/
/* Sections
 * ----------------------------------- */
 #section1{
	background-color: #f8f8f8;	
     text-align:center;
      background: url(http://7xnbl7.com1.z0.glb.clouddn.com/img/clouds.jpg);
    
    -webkit-animation: 12s floatcloud  linear infinite;
    animation: 12s floatcloud linear  infinite;  
    
 }
#section1 h1{
	padding: 0px;
	margin: 0px;
}
#panning{
width: 100%;
height: 100%;
}
/* main page
*-----------------*/
@-webkit-keyframes floatcloud{
0%{background-position: 0px 0px;}
100%{background-position: 1024px 0px;}
}
@keyframes floatcloud{
0%{background-position: 0px 0px;}
100%{background-position: 1024px 0px;}
}
.title {
position: relative;
display: inline-block;
margin: 12% 0 20px;

}
.titleTxt{
position: relative;
display: inline-block;
margin: 0;
font-weight: bold;
font-size: 800%;
line-height: 1;
text-shadow:2px 2px 0 rgba(0,0,0,.3);
visibility: hidden;
}
.title p{
	margin: 2px 0 20px;
	color: white;
	text-shadow:2px 2px 0 rgba(0,0,0,.3);
	font-size: 1.5em;
}
.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;	
	animation-duration: 1s;	
	-webkit-animation-duration: 1s;
	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	
	visibility: visible !important;							
}
@keyframes slideDown {
	0% {transform: translateY(-100%);}
	50%{transform: translateY(8%);}
	65%{transform: translateY(-4%);}
	80%{transform: translateY(4%);}
	95%{transform: translateY(-2%);}			
	100% {transform: translateY(0%);}		}
@-webkit-keyframes slideDown {
	0% {-webkit-transform: translateY(-100%);}
	50%{-webkit-transform: translateY(8%);}
	65%{-webkit-transform: translateY(-4%);}
	80%{-webkit-transform: translateY(4%);}
	95%{-webkit-transform: translateY(-2%);}			
	100% {-webkit-transform: translateY(0%);}	}
.pulse{
	animation-name: pulse;-webkit-animation-name: pulse;	
	animation-duration: 1.5s;-webkit-animation-duration: 1.5s;
    animation-iteration-count: infinite;-webkit-animation-iteration-count: infinite;}
@keyframes pulse {
	0% {transform: scale(0.9);opacity: 0.7;		}
	50% {transform: scale(1);opacity: 1;	}	
	100% {transform: scale(0.9);opacity: 0.7;	}			}

@-webkit-keyframes pulse {
	0% {-webkit-transform: scale(0.95);opacity: 0.7;		}
	50% {-webkit-transform: scale(1);opacity: 1;	}	
	100% {-webkit-transform: scale(0.95);opacity: 0.7;	}			
}


.blankdiv {
    display: block;
    height: 0;
    width: 100%;
}
#section2{
   font-family:SimSun;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(http://7xnbl7.com1.z0.glb.clouddn.com/img/weq12.jpg);
  
}

#section2 p{
  line-height: 3rem;
  font-size: 2rem;
    font-weight: bold;
}
#section3 {
    background-image: url(http://7xnbl7.com1.z0.glb.clouddn.com/img/s3.png);
    background-size: 100% 100%;
  background-repeat: no-repeat;
     text-shadow: 0 2px 3px rgba(0, 0, 0, 0.9);
          
}
#section4{
  background-image: url(http://7xnbl7.com1.z0.glb.clouddn.com/img/w5.jpg);
    background-size: 100% 100%;
  background-repeat: no-repeat;

}
.floatleft {
    float: left;
}

.music {
width: 40%;
margin: 0 auto;
}
.music h1{
font-size: 4rem;
font-family: Microsoft YaHei;
margin:0 0 30px;
    opacity: 0;
}
.music h3{
font-size: 1.5rem;
font-family: SimSun;
    opacity: 0;
    opacity: 0;
}
.myAnimationActive .music h1{
    animation:  txtdown 0.5s linear;
    -webkit-animation:  txtdown 0.5s linear;
      animation-fill-mode : forwards ;  
      -webkit-animation-fill-mode : forwards ;  
}
.myAnimationActive .music h3{
    animation:  txtdown 0.5s linear 0.4s;
    -webkit-animation:  txtdown 0.5s linear 0.4s;
      animation-fill-mode : forwards ;  
      -webkit-animation-fill-mode : forwards ;  
}

#vis-div {
    width: 800px;
    margin: 8vh auto 10px;
}
#vis-div p{
    margin: 14px 0 13px;
    padding: 0;
    text-align: center;
    font-size: 1.4rem;
}
#vis{
display:none;
}
.introText {
    margin: 6% 0 0 15%;
}
.introText h1,.introText p{
opacity: 0;
}
.introimg {
   top: 20%;
  right: 15%;
    position: absolute;
    opacity: 0;
    width: 260px;
    height: 320px;
}
.introimg>div {width:100%;height: 100%}
.myAnimationActive .introimg{
animation: txtright 0.5s linear 0.6s;
animation-fill-mode: forwards;
-webkit-animation: txtright 0.5s linear 0.6s;
-webkit-animation-fill-mode: forwards;
}

.myAnimationActive .introimg>div{
animation: roating 0.5s linear 0.6s;
-webkit-animation: roating 0.5s linear 0.6s;

}
@keyframes roating{
  
    100%{transform:rotate(360deg)}
}
@-webkit-keyframes roating{

    100%{-webkit-transform:rotate(360deg)}
}
@-webkit-keyframes bigAndSmall {40% {opacity: 0;-webkit-transform: scale(0);}60% {opacity: 0.8;-webkit-transform: scale(1.2);}75% {opacity: 1;-webkit-transform: scale(0.8);}85% {-webkit-transform: scale(1.1);}100%{-webkit-transform: none;opacity: 1}}
@keyframes bigAndSmall {40% {opacity: 0;transform: scale(0);}60% {opacity: 0.8;transform: scale(1.2);}75% {opacity: 1;transform: scale(0.8);}85% {transform: scale(1.1);}100%{transform: none;opacity: 1}}
@keyframes txtdown{
    0%{transform: translateY(-80px)}
    80%{opacity: 1}
    100%{transform: translateY(0px);opacity: 1}
}
@-webkit-keyframes txtdown{
    0%{-webkit-transform: translateY(-80px)}
    80%{opacity: 1}
    100%{-webkit-transform: translateY(0px);opacity: 1}
}
.myAnimationActive .introText h1{
    animation:  txtdown 0.5s linear;
      animation-fill-mode : forwards ;  
    -webkit-animation:  txtdown 0.5s linear;
      -webkit-animation-fill-mode : forwards ;  
}
.myAnimationActive .introText p{
    animation:  txtdown 0.5s linear 0.4;
    animation-fill-mode : forwards ;  
     -webkit-animation:  txtdown 0.5s linear 0.4s;
     -webkit-animation-fill-mode : forwards ;  
}
.img_t2 {
      width: 800px;
  margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
}
.myAnimationActive .img_t2{
animation: bigAndSmall 1.2s linear 0.6s;
     -webkit-animation: bigAndSmall 1.2s linear 0.6s;
     animation-fill-mode : forwards ; 
     -webkit-animation-fill-mode : forwards ;  
}
.t1_img {
    width: 800px;
    margin: 3.5% auto 0;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
}
.myAnimationActive  .t1_img{
animation: bigAndSmall 1.2s linear 0.6s;
     -webkit-animation: bigAndSmall 1.2s linear 0.6s;
     animation-fill-mode : forwards ; 
     -webkit-animation-fill-mode : forwards ;  
}
.textIT {
     font-family: Arial;
    font-size: 4rem;
    font-weight: bold;
    opacity: 0;
    margin: 0;
    padding: 20px 0;
}
.textIT strong{
    font-size: 5rem;
     font-family: SimSun;
}

#Map {
  width: 35%;
  height: 400px;
  position: absolute;
  top:170px;
  right: 4%;
opacity: 0;
}
.myAnimationActive #Map{
animation: txtright 0.5s linear 0.4s;
-webkit-animation: txtright 0.5s linear 0.4s;
animation-fill-mode : forwards ; 
-webkit-animation-fill-mode : forwards ;
}
.textD {
font-family: SimSun;
  font-size: 2rem;
    opacity: 0;
    padding-bottom: 30px;
}
@keyframes txtleft{
    0%{transform: translateX(-150px)}
    80%{opacity: 1}
    100%{transform: translateX(0px);opacity: 1}
}
@-webkit-keyframes txtleft{
    0%{-webkit-transform: translateX(-150px)}
    80%{opacity: 1}
    100%{-webkit-transform: translateX(0px);opacity: 1}
}
@keyframes txtright{
    0%{transform: translateX(150px)}
    80%{opacity: 1}
    100%{transform: translateX(0px);opacity: 1}
}
@-webkit-keyframes txtright{
    0%{-webkit-transform: translateX(150px)}
    80%{opacity: 1}
    100%{-webkit-transform: translateX(0px);opacity: 1}
}
.myAnimationActive .textIT{
animation: txtleft 0.6s linear;
-webkit-animation: txtleft 0.6s linear;
animation-fill-mode : forwards ; 
-webkit-animation-fill-mode : forwards ;
}
.myAnimationActive .textD{
animation: txtleft 0.5s linear 0.4s;
-webkit-animation: txtleft 0.5s linear 0.4s;
animation-fill-mode : forwards ; 
-webkit-animation-fill-mode : forwards ;
}
.myAnimationActive .img_t3{
animation: bigAndSmall 1.2s linear 0.6s;
     -webkit-animation: bigAndSmall 1.2s linear 0.6s;
     animation-fill-mode : forwards ; 
     -webkit-animation-fill-mode : forwards ;  
}
.blackGround {
background-color: rgba(157, 81, 81, 0.3);
margin-top: 140px;
}
.blackGroundDiv{
   margin-left: 12%;
}
.contact {
    text-align: center;
    width: 440px;
  margin: 0 auto;
    opacity: 0;
}
.contact p{
  font-size: 2.4rem;
    font-weight: bold;
  margin: 10px 0;
    
}
.contactlist {
    list-style: none;
}
.contactlist  li{
float: left;
width: 80px;
margin: 0 15px;
}
.contactlist li span{
opacity: 0;
}
.contactlist li:hover img{
transform: translateY(10px);
-webkit-transform: translateY(5px);

}
.contactlist li:hover span{
animation: lableShow 0.8s;
-webkit-animation: lableShow 0.8s;
animation-fill-mode : forwards ;
-webkit-animation-fill-mode : forwards ;
}
@keyframes lableShow{
    0%{transform: translateY(5px);opacity: 0}
    60%{opacity: 1.0}
    100%{transform: translateY(0);opacity: 1.0}
}
@-webkit-keyframes lableShow{
    0%{-webkit-transform: translateY(5px);opacity: 0}
    60%{opacity: 1.0}
    100%{-webkit-transform: translateY(0);opacity: 1.0}
}
.img_t3 {
    width: 800px;
    margin: 8vh auto 0;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
}

.about {
    font-size: 2.5rem;
  font-weight: bold;
text-align: center;
}
.about h3{
margin: 10px 0;
    opacity: 0;
}
.about p{
font-size: 1.2rem;
    margin: 8px 0;
    opacity: 0;
}
@keyframes fastTxtleft{
    0%{transform: translateX(-150px)}
    80%{opacity: 1;transform: translateX(30px)}
    90{transform: translateX(-15px);opacity: 1}
    100%{transform: translateX(0px);opacity: 1}
}
@-webkit-keyframes fastTxtleft{
    0%{-webkit-transform: translateX(-150px)}
    80%{opacity: 1;-webkit-transform: translateX(30px)}
     90{-webkit-transform: translateX(-15px);opacity: 1}
    100%{-webkit-transform: translateX(0px);opacity: 1}
}
.myAnimationActive .about h3{
animation: fastTxtleft 0.5s linear;
-webkit-animation: fastTxtleft 0.5s linear;
animation-fill-mode : forwards ;
-webkit-animation-fill-mode : forwards ;
}
.myAnimationActive .about #about_p1{
animation: lableShow 0.5s linear 0.5s;
-webkit-animation: lableShow 0.5s linear 0.5s;
animation-fill-mode : forwards ;
-webkit-animation-fill-mode : forwards ;
}
.myAnimationActive .about #about_p2{
animation: lableShow 0.5s linear 0.8s;
-webkit-animation: lableShow 0.5s linear 0.8s;
animation-fill-mode : forwards ;
-webkit-animation-fill-mode : forwards ;
}
.myAnimationActive .about #about_p3{
animation: lableShow 0.5s linear 1s;
-webkit-animation: lableShow 0.5s linear 1s;
animation-fill-mode : forwards ;
-webkit-animation-fill-mode : forwards ;
}
#section5{
  background-image: url(http://7xnbl7.com1.z0.glb.clouddn.com/img/z1.jpg);
    background-size: 100% 100%;
  background-repeat: no-repeat;
 
}
#game {
    width: 600px;
    height: 350px;
    margin: 10px auto;
    opacity: 0;
}
.myAnimationActive #game{

animation: txtright 0.5s linear 1.4s;
-webkit-animation: txtright 0.5s linear 1.4s;
animation-fill-mode : forwards ;
-webkit-animation-fill-mode : forwards ;

}
.myAnimationActive .contact{
animation: txtleft 0.5s linear 1.6s;
-webkit-animation: txtleft 0.5s linear 1.6s;
animation-fill-mode : forwards ;
-webkit-animation-fill-mode : forwards ;
}
.siteInfo {
position: absolute;
    bottom: 0;
    left: 0;
  width: 100%;
background-color: rgba(0, 0, 0, 0.45);
}
.siteInfo p{
    text-align:center;
    margin: 0;
    padding: 0;

}


@keyframes fly1{
    0%{opacity: 1}
    45%{opacity: 1}
    50% {transform: translate3d(2000px,0,0);opacity: 0}
    100% {transform: translate3d(0,0,0);opacity: 0} 
}
@-webkit-keyframes fly1 {
       0%{opacity: 1}
    45%{opacity: 1}
    50% {-webkit-transform: translate3d(2000px,0,0);opacity: 0} 
     100% {-webkit-transform: translate3d(0,0,0);opacity: 0}
}
@keyframes fly2{
    0%{opacity: 1}
    35%{opacity: 1}
    40% {transform: translate3d(-2000px,0,0);opacity: 0}
    100% {transform: translate3d(0,0,0);opacity: 0}
}
@-webkit-keyframes fly2 {
    0%{opacity: 1}
    35%{opacity: 1}
    40% {-webkit-transform: translate3d(-2000px,0,0);opacity: 0}  
    100% {-webkit-transform: translate3d(0,0,0);opacity: 0}  
}

#plane2{
    top: 18%;
    right: 25%;
}

.plane {
     position: absolute;
    width: 72px;
    height: 72px;
}
.plane img{
width: 100%;
    height: 100%;
}

#plane3 {
  
    top: 42%;
    right: 10%;

}

.cloud {
	position: absolute;
	opacity: 0.5;
}

#cloud1 {
left: 10%;
	top: 10%;
	
}
#cloud2 {
left: 10%;
	top: 62%;
	opacity: 0.8;
}
#cloud3 {
right: 50%;
	top: 10%;
}
#cloud4 {
right: 40%;
	top: 50%;
}
